body{
    background-color: tomato;
}

background-position: center fill;
    flex-wrap: wrap;
    padding:3px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px ;


}
nav .navbar {
    background-color: black;
    text-shadow: 1em;
}
#mburias img{
    border-radius: 100%;
@@ -23,6 +30,8 @@ body{
}
#mburia h1{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;

}
#mburia img:hover {
    background-color: black;
